<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Streams</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        <img src="/assets/js-8.png">
      </h1>
    </header>

    <main>
      <p id="logMessage">
        Enter your login
      </p>
      <input id="login" oninput="testLogin()" placeholder="login">
      <form id="form" style="display: none">
        <h3>
          Registration
        </h3>
        <p>Name</p>
        <input id="userName" name="name" onchange="validateName()" placeholder="Name">
        <p>Age</p>
        <input type="number"
               id="userAge" 
               name="age"
               placeholder="Age"
               onchange="validateAge()">
        <p>
          Your Photo
        </p>
        <input type="file" 
               id="avatar" 
               name="avatar" 
               onchange="validateImage()"
        >
        <img id="userPhoto" src="null">
      </form>
      <button id="submit" onclick="submitForm(event)" style="display: none">Submit</button>
    </main>

<!--     <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
 -->
  </body>
</html>
