/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: #09b;
  margin: 2em;
}

#registration {
  position: absolute;
  top: 150px;
  margin-left: calc(50vw - 250px);
  margin-right: calc(50vw - 250px);
  box-shadow: 3px 3px 5px #00000070;
  padding: 30px;
  box-sizing: border-box;
  z-index: 10;
}

@media screen and ( max-width: 420px ) {
  #registration {
    top: 100px;
    margin: 0;
  }
}

input {
  display: block;
  padding: 4px 8px;
  font-size: 1rem;
  color: #09b;
  margin-bottom: 10px;
}

input[type="file"] {
  padding: 5px 10px;
  color: #09b;
}

h4 {
  font-style: italic;
  color: #09b;
  padding: 0;
  margin-top: 0;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 90vw;
}

main {
  overflow: auto;
}

form {
  margin-bottom: 25px;
  padding: 30px;
  background-color: #ffffff50;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
  box-shadow: inset 2px 2px 4px #00000050;
}

button {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  color: #f50;
}

button:active {
  color: #09b;
}
