/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

input {
  display: block;
  padding: 4px 8px;
  font-size: 1rem;
  color: #09b;
  margin-bottom: 10px;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 90vw;
}

form {
  margin-bottom: 25px;
  padding: 30px;
  background-color: #ffffff50;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #00000090;
}

button {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  color: #f50;
}

button:active {
  color: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
